h1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  h2 {
    margin-bottom: 0px;
  }
  
  .wrapper {
    text-align: center;
    display: grid;
    align-items: center;
  }
  
  .row {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
  }
  
  .level {
    font-size: clamp(2rem, 2vw, 3rem);
    font-family: "Paytone One", sans-serif;
    font-weight: extrabold;
  }
  