section {
    max-width: 400px;
    margin: auto;
  }
  
  h1 {
    margin-top: 40px;
  }
  
  header {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .link {
    color: var(--beige) !important;
  }
  
  form {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 8px;
    background-color: var(--charcoal);
    border-radius: 8px;
  }
  
  input {
    width: 100%;
    background: var(--charcoal);
  }
  
  input::placeholder {
    color: rgb(249, 244, 218, 0.5);
  }
  
  ul {
    padding: 0;
    margin: 0;
    display: grid;
    gap: 16px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--purple);
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
  }
  