section {
    text-align: center;
  }
  
  pre,
  time {
    display: inline-block;
    background: var(--charcoal);
    padding: 1px 8px;
    font-family: monospace;
    border-radius: 2px;
  }
  
  p {
    font-size: 14px;
  }
  
  a {
    color: var(--beige);
  }
  