section {
    text-align: center;
  }
  
  button {
    font-size: 16px;
  }
  
  p {
    font-size: 12px;
    max-width: 50ch;
    color: color-mix(in srgb, var(--charcoal) 50%, var(--beige));
    margin: 10px auto;
  }
  
  .link.active {
    opacity: 1;
  }
  