h1 {
    margin-top: 40px;
  }
  
  section {
    text-align: center;
  }
  
  .card {
    margin-top: 24px;
  }
  
  .loading-placeholder {
    max-width: 200px;
    width: 100%;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.1);
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 8%,
      rgba(0, 0, 0, 0.1) 18%,
      rgba(0, 0, 0, 0) 33%
    );
    background-size: 1200px 100%;
  }
  
  .content {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 240px;
    height: 400px;
    position: relative;
    border-radius: 16px;
    margin: auto;
    background: var(--charcoal);
  }
  
  .card figure {
    margin: 0;
    padding: 0;
    min-height: 0px;
    min-width: 0px;
    display: grid;
    grid-template-rows: 320px auto;
    place-items: center;
  }
  
  .card img {
    max-width: 200px;
    height: auto;
    animation: animate-in 0.6s ease-in-out;
  }
  
  .card h4 {
    font-size: 14px;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -1200px 0;
    }
    100% {
      background-position: 1200px 0;
    }
  }
  
  @keyframes animate-in {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @media (min-width: 400px) {
    .content {
      width: 300px;
      height: 400px;
    }
  }
  